.loginPage {
  width: 100vw;
  height: 100vh;
  background-image: url(image/top.jpg); 
  background-size: cover;
  &_contents {
    text-align: center;
    &_title {
      font-size: 40px;
      padding-top:90px;
      font-weight: 300;

    }
    &_btn {
      margin:0 auto;
      display: block;
      border-radius: 50px;
      background-color: #fd5068;
      margin-top:500px;
      color: #fff;
      width:300px;
      text-decoration: none;
      padding:20px;
    }
  }
}
// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
