.usershowPage {
  .header {
    display: flex;
    padding-top:10px;
    &_logo {
      width:40px;
      display: block;
      margin-left: auto;
      margin-top:20px;
     
    }
  }
}

.userInfo {
  &_img {
    width:250px;
    height:250px;
    border-radius: 50%;
    overflow: hidden;
    margin:0 auto;
    margin-top:30px;
    &>img {
      width: 100%;
    }
  }
  &_name {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
  }
  &_selfIntroduction {
    margin-top: 30px;
    font-size: 20px;
  }
}
.userAction {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 60px auto 0;
  color:#c3c7d0;
  &_common {
    & > a {
    widows: 100px;
    height:100px;
    border-radius: 50%;
    display: flex;
    background-color:#c3c7d0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color .5s;
        &:hover {
          color:#fd5068;
        }
      }
  }
 
  
}